<h3>Skills</h3>
<ul *ngFor="let work of skills">
    <li>
        <tr>
            <h4>capacidad:</h4>
            <meter min ="0" max="100" value="90"></meter>
            
             
        </tr>
        <tr>
            <h4>organizacion:</h4>
             <meter min ="0" max="100" value="90"></meter>
             
        </tr>
        <tr>
            <h4>responsabilidad:</h4>
            <meter min ="0" max="100" value="100"></meter>
           
           
        </tr>
        <tr>
            <h4>autonomia:</h4>
            <meter min ="0" max="100" value="100"></meter>
           

        </tr>
        <tr>
            <h4>inovacion:</h4>
            <meter min ="0" max="100" value="90"></meter>
            

        </tr>
        <tr>
            <h4>iniciativa:</h4>
            <meter min ="0" max="100" value="90"></meter>
            

        </tr>
        <tr>
            <h4>experiencia:</h4>
            <meter min ="0" max="100" value="40"></meter>
           

        </tr>
       
            </li>
        </ul>    




