<h3>Lenguage</h3>
<ul *ngFor="let work of lenguages">
    <li>
        <tr>
            <h4>español:</h4>
            <meter min ="0" max="100" value="100"></meter>
            
             
        </tr>
        <tr>
            <h4>ingles:</h4>
             <meter min ="0" max="100" value="100"></meter>
             
        </tr>
        <tr>
            <h4>chino:</h4>
            <meter min ="0" max="100" value="80"></meter>
           
           
        </tr>
        <tr>
            <h4>aleman:</h4>
            <meter min ="0" max="100" value="30"></meter>
           

        </tr>
        
            </li>
        </ul>    

