<h3>certificates</h3>
<ul *ngFor="let work of certificates">
    <li>
        <tr>
             <td>{{work.fecha}} </td>
             
        </tr>
        <tr>
            <td>{{work.ubicacion}} </td>
        </tr>
        <tr>
            <td>{{work.instituto}} </td>
           
        </tr>
        <tr>
            <td>{{work.certificado}} </td>

        </tr>
        
       
            </li>
        </ul>    

        <img src="../../assets/images/IvanAvila1224 - Pandas.png" width="250" height="200">
        <img src="../../assets/images/IvanAvila1224 - Python.png" width="250" height="200">
        





    


