<h3>certificates</h3>
<ul *ngFor="let work of certificates">
    <li>
        <tr>
             <td>{{work.fecha}} </td>
             
        </tr>
        <tr>
            <td>{{work.ubicacion}} </td>
        </tr>
        <tr>
            <td>{{work.instituto}} </td>
           
        </tr>
        <tr>
            <td>{{work.certificado}} </td>

        </tr>
        
       
            </li>
        </ul>    

        <ul>
            <li>
                <a href="https://firebasestorage.googleapis.com/v0/b/angular-tour-of-heroes-98be9.appspot.com/o/IvanAvila1224%20-%20Pandas.png?alt=media&token=4dd2b268-8461-4ea4-82ff-ffe997f9a802">CURSO PANDAS</a>
            </li>
        </ul>
        
        <ul>
            <li>
                <a href="https://firebasestorage.googleapis.com/v0/b/angular-tour-of-heroes-98be9.appspot.com/o/IvanAvila1224%20-%20Python.png?alt=media&token=a80c5e54-38ae-479a-890c-a43d72192ca7">CURSO PYTHON</a>
            </li>
        </ul>
        





    


